# macOS
.DS_Store

# Python
backend/venv/
__pycache__/
*.pyc

# Django
backend/db.sqlite3
backend/staticfiles/

# Environment variables
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Svelte build
frontend/.svelte-kit/
frontend/build/

# Logs
*.log

# GIS data
data/raw/
data/processed/

# QGIS
*.qgz~
*.qgs~
